// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-box {
  width: auto;
  padding: 10px;
  border: 1px solid gray;
  margin: 0; 
}
